{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<body>
<div id="wrapper">
    {% for items in tweets %}
        <div class="tweet">
            <img class="avatar" src="{{items['authorProfilePicture']}}" title="{{items['query']}}">
            <a href="{{items['twitterAuthorLink']}}" target="_blank" class="name">{{items['name']}}</a> <a href="{{items['twitterAuthorLink']}}" target="_blank" class="twname">@{{items['twitterName']}}</a><a href="{{items['twitterAuthorLink']}}/status/{{items['id']}}" target="_blank" class="time">{{items['time']}}</a><br />
            {% if items['RT'] %}
                <div class="rtOrigin">
                    <strong>RT</strong> from <a href="{{items['originRetweetAuthorLink']}}" target="_blank" class="name">{{items['originRetweetAuthorName']}}</a> <a href="{{items['originRetweetAuthorLink']}}" target="_blank" class="twname">@{{items['originRetweetAuthorTwitterName']}}</a>
                </div>
            {% endif %}
            <p class="tweetText">
                {{items['full_text']|raw}}
            </p>
            {% if items['quoted_status'] is defined %}
                <div class="retweet">
                    <a href="{{items['retweetAuthorLink']}}" target="_blank" class="name">{{items['retweetAuthorName']}}</a>
                    <a href="{{items['retweetAuthorLink']}}" target="_blank" class="twname">@{{items['retweetAuthorName']}}</a>
                    <a href="{{items['quoted_status']['link']}}" target="_blank"></a>
                    <p>
                        {{items['quoted_status']['full_text']|raw}}
                    </p>
                    {% if items['mediaTw'] is defined %}
                        {% for medium in items['quoted_status']['entities']['media'] %}
                            <img src="{{medium['media_url_https']}}" class="pictureRT">
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if items['media'] is defined and items['mediaTwitems'] is not defined %}
                <img src="{{ items['media'] }}" class="picture">
            {% endif %}
            <div class="tweet-panel">
                <a class="rt js-retweet{% if items['retweeted'] or items['retweeted_status'] is defined and items['retweeted_status']['retweeted'] %} active{% endif %}"
                   data-id="{% if items['RT'] %}{{ items['retweeted_status']['id'] }}{% else %}{{items['id']}}{% endif %}" href="#">
                    RT <span class="js-retweet-count">{% if items['RT'] %}{{ items['retweeted_status']['retweet_count'] }}{% else %}{{ items['retweet_count'] }}{% endif %}</span>
                </a>
                <a class="like js-like {{ items['id'] }}{% if items['favorited'] or items['retweeted_status'] is defined and items['retweeted_status']['favorited'] %} active{% endif %}"
                   data-id="{% if items['RT'] %}{{ items['retweeted_status']['id'] }}{% else %}{{items['id']}}{% endif %}" href="#">
                    ❤ <span class="js-like-count">{% if items['RT'] %}{{ items['retweeted_status']['favorite_count'] }}{% else %}{{ items['favorite_count'] }}{% endif %}</span>
                ️</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
